@import "variables.less";

// Creates a wrapper for a series of columns
.row {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

.row-margin {
  margin-right: (@gutter-total-width / 2);
  margin-left: (@gutter-total-width / 2);
}

.row-margin-negative {
  margin-right: (@gutter-total-width / -2);
  margin-left: (@gutter-total-width / -2);
}

// Columns basic styles
.col {
  position: relative;
  float: left;
  padding-right: (@gutter-total-width / 2);
  padding-left: (@gutter-total-width / 2);
  box-sizing: border-box;
}

// Columns formula
.column-size(@columns) {
  width: percentage((@columns / @grid-columns));
}

// Columns sizes for different screens resolutions
.xs-1 {
  .column-size(1);
}

.xs-2 {
  .column-size(2);
}

.xs-3 {
  .column-size(3);
}

.xs-4 {
  .column-size(4);
}

.xs-5 {
  .column-size(5);
}

.xs-6 {
  .column-size(6);
}

.xs-7 {
  .column-size(7);
}

.xs-8 {
  .column-size(8);
}

.xs-9 {
  .column-size(9);
}

.xs-10 {
  .column-size(10);
}

.xs-11 {
  .column-size(11);
}

.xs-12 {
  .column-size(12);
}

@media (max-width: (@screen-xs)) {
  
  .xs-no-padding {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: (@screen-xs-max)) {
  .s-1 {
    .column-size(1);
  }

  .s-2 {
    .column-size(2);
  }

  .s-3 {
    .column-size(3);
  }

  .s-4 {
    .column-size(4);
  }

  .s-5 {
    .column-size(5);
  }

  .s-6 {
    .column-size(6);
  }

  .s-7 {
    .column-size(7);
  }

  .s-8 {
    .column-size(8);
  }

  .s-9 {
    .column-size(9);
  }

  .s-10 {
    .column-size(10);
  }

  .s-11 {
    .column-size(11);
  }

  .s-12 {
    .column-size(12);
  }

  .s-no-padding {
    padding: 0;
  }

}

@media (min-width: (@screen-xs-max)) and (max-width: (@screen-s)) {
  
  .s-no-padding {
    padding: 0;
  }

}

@media (min-width: (@screen-s-max)) {
  .m-1 {
    .column-size(1);
  }

  .m-2 {
    .column-size(2);
  }

  .m-3 {
    .column-size(3);
  }

  .m-4 {
    .column-size(4);
  }

  .m-5 {
    .column-size(5);
  }

  .m-6 {
    .column-size(6);
  }

  .m-7 {
    .column-size(7);
  }

  .m-8 {
    .column-size(8);
  }

  .m-9 {
    .column-size(9);
  }

  .m-10 {
    .column-size(10);
  }

  .m-11 {
    .column-size(11);
  }

  .m-12 {
    .column-size(12);
  }

  .m-no-padding {
    padding: 0;
  }
}

@media (min-width: (@screen-s-max)) and (max-width: (@screen-m)) {
  
  .m-no-padding {
    padding: 0;
  }

}

@media (min-width: (@screen-m-min)) {
  .l-1 {
    .column-size(1);
  }

  .l-2 {
    .column-size(2);
  }

  .l-3 {
    .column-size(3);
  }

  .l-4 {
    .column-size(4);
  }

  .l-5 {
    .column-size(5);
  }

  .l-6 {
    .column-size(6);
  }

  .l-7 {
    .column-size(7);
  }

  .l-8 {
    .column-size(8);
  }

  .l-9 {
    .column-size(9);
  }

  .l-10 {
    .column-size(10);
  }

  .l-11 {
    .column-size(11);
  }

  .l-12 {
    .column-size(12);
  }

  .l-no-padding {
    padding: 0;
  }
}

@media (min-width: (@screen-m-max)) and (max-width: (@screen-l)) {
  
  .l-no-padding {
    padding: 0;
  }

}
